<nav id="menu">
	<ul>
		<li><%= link_to 'Home', root_path %></li>
		<li><%= link_to 'Entrada/Saída', :controller => 'acessos', :action => 'new' %></li>
		<li><%= link_to 'Relatório Diário', :controller => 'acessos', :action => 'index' %></li>
		
	</ul>
</nav>