<div style="width:800px; height:150px; border:1px solid #ccc; background:#dfdfdf; margin-top:40px; margin-left:150px; padding:50px;">
	
	<blockquote>
		
		<center><h3 style="color:red;">Atenção</h3></center>
		<center><h5>Realizar a importação dos dados de acesso as 22:00 para o Sims Primário.
		</h5></center>
		<center><h5>ETI - Desenvolvimento</h5></center>
	</blockquote>

</div>